{
    "config": {
        "devices": {
            "11": {
                 "id": 11,
                 "type": "ird8200",
                 "address": "192.168.50.148",
                 "inputLabels": {
                    "1": "Quintech Out 3"
                 }
            },
            "22": {
                 "id": 22,
                 "type": "ird8200",
                 "address": "192.168.50.155",
                 "inputLabels": {
                    "1": "Quintech Out 1"
                 }
            },
            "33": {
                 "id": 33,
                 "type": "ird8200",
                 "address": "192.168.50.159",
                 "inputLabels": {
                    "1": "Quintech Out 4"
                 }
            },
            "44": {
                 "id": 44,
                 "type": "ird8200",
                 "address": "192.168.50.157",
                 "inputLabels": {
                    "1": "Quintech Out 2"
                 }
            },
            "45": {
                 "id": 45,
                 "type": "qt_lband",
                 "address": "192.168.50.149"
            }
        },
        "panels":
        {
            "1": {
                "id": 1,
                "name": "Quintech",
                "type": "qt_simple",
                "color": "#aa00ff",
                "devices": [
                    {
                        "id": 45
                    }
                ]
            },
            "55": {
                "id": 55,
                "name": "REM_62",
                "type": "full_8200",
                "color": "#aa00ff",
                "devices": [
                    {
                        "id": 44
                    }
                ]
            },
            "56": {
                "id": 56,
                "name": "REM_64",
                "type": "full_8200",
                "color": "#ff00ff",
                "devices": [
                    {
                        "id": 33
                    }
                ]
            },
            "57": {
                "id": 57,
                "name": "REM_61",
                "type": "full_8200",
                "color": "#aa00ff",
                "devices": [
                    {
                        "id": 22
                    }
                ]
            },
            "58": {
                "id": 58,
                "name": "REM_63",
                "type": "full_8200",
                "color": "#aa00ff",
                "devices": [
                    {
                        "id": 11
                    }
                ]
            },
            "59": {
                "id": 59,
                "name": "REM_63 qt",
                "type": "full_8200_with_qt",
                "color": "#aa7722",
                "devices": [
                    {
                        "id": 11
                    },
                    {
                        "id": 45
                    }
                ],
                "controlled_output": 3
            }
        }
    }
}
