{
    "config": {
        "devices": {
            "11": {
                 "id": 11,
                 "type": "ird8200",
                 "address": "localhost"
            },
            "22": {
                 "id": 22,
                 "type": "ird8200",
                 "address": "192.168.50.155"
            },
            "33": {
                 "id": 33,
                 "type": "ird8200",
                 "address": "192.168.50.156"
            },
            "44": {
                 "id": 44,
                 "type": "ird8200",
                 "address": "192.168.50.157"
            }
        },
        "panels":
        {
            "55": {
                "id": 55,
                "name": "REM_64",
                "type": "full_8200",
                "color": "#aa00ff",
                "devices": [
                    {
                        "id": 44
                    }
                ]
            }
        }
    }
}
