{
    "config": {
        "devices": [
            {
                 "name": "REM_61",
                 "type": "ird8200",
                 "address": "192.168.50.155",
                 "color": "#aaafff"
            },
            {
                 "name": "REM_62",
                 "type": "ird8200",
                 "address": "192.168.50.155",
                 "color": "#aacfff"
            },
            {
                 "name": "REM_63",
                 "type": "ird8200",
                 "address": "192.168.50.156",
                 "color": "#aa3fff"
            },
            {
                 "name": "REM_64",
                 "type": "ird8200",
                 "address": "192.168.50.157",
                 "color": "#aa1fff"
            }
        ]
    }
}
