/*
    scheduler:
     var j = schedule.scheduleJob('42 * * * *', function(){
      console.log('The answer to life, the universe, and everything!');
    });

        *    *    *    *    *    *
        ┬    ┬    ┬    ┬    ┬    ┬
        │    │    │    │    │    |
        │    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)
        │    │    │    │    └───── month (1 - 12)
        │    │    │    └────────── day of month (1 - 31)
        │    │    └─────────────── hour (0 - 23)
        │    └──────────────────── minute (0 - 59)
        └───────────────────────── second (0 - 59, OPTIONAL)
        
    structure:
    [
        {
            "device" : "Name 1",
            "time" : "00 42 * * * *" -- run on the 42nd minute of every hour
        },
        {
            "device" : "Name 2",
            "time" : "00 00 5 * * 0" -- run at 5am on sundays (0 - 7) (0 or 7 is Sun)
        },
    ]
*/
