include devices.jade
extends layout

block content
  each device in devices
    div.panel.cPanel.col-sm-3(style="background-color: #{device.color}")
      div #{device.name}
      +deviceLayout(device)
