doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    script(src="/javascripts/later.min.js")
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-3.1.1.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/misc.js")
    script(src="/javascripts/panels.js")
    script(src="/javascripts/presets.js")
    script(src="/javascripts/clients/fill_panels.js")
    script(src="/javascripts/clients/full_1280.js")
    script(src="/javascripts/clients/full_8200.js")
    script(src="/javascripts/clients/qt_simple.js")
    script(src="/javascripts/clients/full_8200_with_qt.js")
    script(src="/javascripts/clients/sym_calc.js")
    script(src="/javascripts/clients/freq_to_lband.js")
