doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-3.1.1.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/panels.js")
    script(src="/javascripts/clients/fill_panels.js")
    script(src="/javascripts/clients/full_8200.js")
    script(src="/javascripts/clients/qt_simple.js")
    script(src="/javascripts/clients/full_8200_with_qt.js")
