doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content
    script(src="/javascripts/jquery-3.1.1.min.js")
    script(src="/javascripts/bootstrap.js")
    script(src="/javascripts/panels.js")
    script(src="/javascripts/clients/ird8200.js")
