include panels/full_8200.jade
include panels/qt_simple.jade
include panels/full_8200_with_qt.jade
mixin panelLayout(panel)
    case panel.type
        when "full_8200"
            +full_8200(panel)
        when "qt_simple"
            +qt_simple(panel)
        when "full_8200_with_qt"
            +full_8200_with_qt(panel)
        when "half_panel"
            each subpanel in panel.subpanels
                +panelLayout(subpanel)
        default
            p #{JSON.stringify(panel)}
