mixin sym_calc(panel)
    div.sym_calc.panel_layout(id="panel_#{panel.id}")
        div.form-group
            button.btn.btn-primary.col-xs-12.title.disabled #{panel.name}
            div.row &nbsp;
            div.row
                label.col-xs-4.text-right.text-nowrap Data Rate
                span.nopad.col-xs-6
                    input.form-control.dataRate
                label.nopad.col-xs-2 Mbps
            div.row
                label.col-xs-4.text-right.text-nowrap Modulation
                span.nopad.col-xs-3
                    select.form-control.mod
                        option(value=1) BPSK
                        option(value=2) QPSK
                        option(value=3 selected) 8PSK
                        option(value=3) 8QAM
                        option(value=4) 16QAM

                span.nopad.col-xs-3
                    select.form-control.fec
                        option(value=0.5) 1/2
                        option(value=0.666667 selected) 2/3
                        option(value=0.75) 3/4
                        option(value=0.833333) 5/6
                        option(value=0.875) 7/8
                        option(value=0.888889) 8/9
                label.nopad.col-xs-2 FEC
            div.row
                label.col-xs-4.text-right.text-nowrap Sym Rate
                span.nopad.col-xs-6
                    input.form-control.symRate(readonly)
                label.nopad.col-xs-2 Msps